[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HBV.IANIGLA"]
	path = HBV.IANIGLA
	url = https://gitlab.com/ezetoum27/hbv.ianigla
[submodule "hydroToolkit"]
	path = hydroToolkit
	url = https://github.com/cran/hydroToolkit
[submodule "hydrotoolbox"]
	path = hydrotoolbox
	url = https://gitlab.com/ezetoum27/hydrotoolbox
